.uploadInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}

.uploadLabel {
  width: 100%;
  border: none;
}

.wrapper {
  position: relative;
  margin: 50px;
  border: solid red 1px;
  width: 500px;
}