.root {
  margin: 25px;
  text-align: center;
  color: rgb(75, 75, 75);
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
}

.root > a {
  text-decoration: none;
}