.root {
  text-align: center;
}

.overide {
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(10, 10, 10);
  padding: 20px;
  border-radius: 50px;
  transition: .15s;
}

.overide:hover {
  background-color: rgb(75, 75, 75);
}

.input {
  display: none;
}