.root {
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 768px) {
  .root {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (min-width: 1440px) {
  .root {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.scrollable {
  height: 350px;
  overflow: scroll;
}

.bold {
  font-size: 15px !important;
  font-weight: bold !important;
  color: rgb(0, 110, 255) !important;
  font-family: 'Prompt', sans-serif !important;
}