.App {
  text-align: center;
}

.App-header,
.app-body {
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.App-link {
  color: #61dafb;
}
