@font-face {
  font-family: 'Anuphan-Regular';
  src: url('/fonts/Anuphan-Regular.otf');
}

@font-face {
  font-family: 'Anuphan-Bold';
  src: url('/fonts/Anuphan-Bold.otf');
}

@font-face {
  font-family: 'Sarabun-Regular';
  src: url('/fonts/Sarabun-Regular.ttf');
}

@font-face {
  font-family: 'SourceSerifPro-SemiBold';
  src: url('/fonts/SourceSerifPro-SemiBold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Anuphan-Regular;
}

html {
  scroll-behavior: smooth;
}